html, body, #root {
    height: 100%;
    margin: 0;
    background-color: #F0F0F0;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 1000%;
    height: 100%;
    overflow-y: auto;
    box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.5);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.dark {
    background-color: #050505;
    color: #FFFFFF;
}

.light {
    background-color: #FFFFFF;
    color: #050505;
}

@media screen and (min-width: 700px) {
    main {
        width: 70%;
    }
}

@media screen and (min-width: 1400px) {
    main {
        width: 60%;
        height: 90%;
    }
}